html, body, div, span, h1, h2, h3, p, a, header, section, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body { 
  color: #333;
  font: 11px/14px Monaco, "Lucida Console", monospace;
  background-color: #eee; 
  padding: 5px 10px;
  margin: 0;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* head section */
  .info { /* browser, date etc. */
    font-size: 12px; 
    font-weight: normal; 
    text-align: right; 
    margin: 10px 0; 
  }
  header, .tabs { padding: 0 10px; }
  header, .tabs, .tabs a { font-size: 14px; line-height: 28px; height: 28px; }
  header { 
    color: #fff;
    background: #5e7d00; 
    font-size: 14px; 
    line-height: 28px; 
    height: 28px; 
  }
  header.failed { background: #b03911; }
  header.pending { background: #ba9d37; }
  
  .tabs { color: #999; background-color: #fff; }
    
    .tab.summary { margin-right: 5px; color: #333; }
    .tab.failures { margin-left: 5px; color: #999; }
    .tab.summary:hover { text-decoration: none; }

    .show-failures .tab.summary { color: #999; }
    .show-failures .tab.summary:hover { text-decoration: underline; }
    .show-failures .tab.failures { color: #333; }
    .show-failures .tab.failures:hover { text-decoration: none; }

  .fold-buttons { float: right; }
  .fold-buttons a { color: #fff; font-size: 12px; }

#summary, #failures { margin-top: 14px; margin-bottom: 40px; }
#failures { display: none; }
.show-failures #summary { display: none; }
.show-failures #failures { display: block; }


.br { margin-top: 8px; }
.section-starter { font-size: 14px; line-height: 18px }
section { 
  /*cursor: -webkit-zoom-out; cursor: -moz-zoom-out; cursor: zoom-out; */
  background: #fff; 
  padding: 10px; 
  border-bottom: #eaeaea 1px solid; 
}
section.folded { 
  /*cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; */
  padding-bottom: 8px;
}
section.folded .description, section.folded .spec { display: none; }
section.folded div.section-starter { display: block; }
/*section:hover { background: #f5f5f5; }*/

/* section totals */
  .section-totals { 
    display: none; 
    color: #fff; 
    font-size: 11px;
    overflow: hidden; 
    position: relative;
    top: -1px; 
  }
  section.folded .section-totals { display: inline; }
  .section-total { 
    vertical-align: baseline; 
    padding: 1px 8px; 
  }
  .section-total.passed { background: #5e7d00; }
  .section-total.failed { background: #b03911; }
  .section-total.skipped { background: #ba9d37; }
  
.spec.passed { color: #5e7d00; }
.spec.failed a { color: #b03911; }
.spec.skipped { color: #ba9d37; }

.spec-log {
  color: #fff;
  background: #555;
  padding: 10px 0;
  margin: 5px -10px;
  white-space: pre-wrap;
  display: none;
}
.show-log > .spec-log { display: block; }

.failed-spec {
  /*border-top: #eaeaea 1px solid;*/
  border-bottom: #eaeaea 1px solid;
  margin-bottom: 20px;
}
.failed-spec .name {
  color: #b03911;
  background: #fff;
  font-size: 1.2em;
  line-height: 18px;
  padding: 10px 10px 5px 10px;
}
.failure-log {
  padding: 10px 10px 10px 24px;
  background: #fff;
  white-space: pre-wrap;
}


#HTMLReporter #details .specDetail { margin-bottom: 28px; }
#HTMLReporter #details .specDetail .description { display: block; color: white; background-color: #b03911; }
#HTMLReporter .resultMessage { padding-top: 14px; color: #333333; }
#HTMLReporter .resultMessage span.result { display: block; }
#HTMLReporter .stackTrace { margin: 5px 0 0 0; max-height: 224px; overflow: auto; 
    line-height: 18px; color: #666666; border: 1px solid #ddd; background: white; white-space: pre; }

body { font-size: 12px; line-height: 18px; } /*larget font-size*/
